

head{
    background-color: white;
    font-family: serif;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.8em;
}

h1 {
    background-color: white;
    font-family: serif;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.8em;
}


content{
    background-color: white;
    font-family: serif;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.8em;

    }
